* { 
    box-sizing: border-box;
    margin: 0;
}

body { 
    min-height: 100vh;
    margin: 0px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

}

.header-container { 
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0px;
    text-align: center;
    margin-top: 30px;
}

h3 span a { 
    text-decoration: none;
    color: purple;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    height: 590px;
    width: 490px;
    border: 2px solid black; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    background-color: black;
}


.calculator-container {     
    height: 570px;
    width: 470px;
    border: 2px solid black; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #28313d;
}


.display-container {    
    background-color: rgba(250, 250, 250, 0.719);
    border: 2px solid black;
    height: 90px;
    width: 430px;
    margin-bottom: 14px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    font-size: 30px;
    align-items: center;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

.button-container { 
    margin: 5px;
    height: 430px;
    width: 430px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.btn { 
    height: 75px;
    width: 80px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 21px;
    flex: 1 0 21%;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

.operator { 
    background-color: rgba(224, 224, 89, 0.856)    ;
}